<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10" IgnorableNamespaces="uap uap5 desktop rescap systemai">
  <Identity Name="UmbertoGiacobbiDotBiz.WorkTrail" Publisher="CN=82BCDD1C-1D59-48A0-9BDF-6352BE319510" Version="0.0.1.0" />
  <Properties>
    <DisplayName>WorkTrail</DisplayName>
    <PublisherDisplayName>UmbertoGiacobbiDotBiz</PublisherDisplayName>
    <Logo>Assets\WorkTrailStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-US" />
    <Resource Language="it-IT" />
    <Resource Language="fr-FR" />
    <Resource Language="de-DE" />
    <Resource Language="es-ES" />
    <Resource Language="zh-Hans" />
    <Resource Language="vi-VN" />
    <Resource Language="ko-KR" />
    <Resource Language="pt-PT" />
    <Resource Language="pt-BR" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="WorkTrail" Description="WorkTrail" BackgroundColor="transparent" Square150x150Logo="Assets\WorkTrailSquare150Logo.png" Square44x44Logo="Assets\WorkTrailSquare44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WorkTrailWide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\WorkTrailSplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol" Executable="WorkTrail.exe" EntryPoint="Windows.FullTrustApplication">
          <uap:Protocol Name="worktrail">
            <uap:DisplayName>WorkTrail notifications</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="WorkTrail.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="worktrail.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <uap5:Extension Category="windows.startupTask" Executable="WorkTrail.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask TaskId="WorkTrailStartup" Enabled="false" DisplayName="WorkTrail" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
